<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "API Documentation" %></title>

    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <% if language_tabs %>
      <script>
        $(function() {
          setupLanguages(<%= language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>);
        });
      </script>
    <% end %>
  </head>

  <body class="<%= page_classes %>">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <div class="tocify-wrapper">
      <svg height="46px" style="margin-top: 10px; margin-left: 10px;" version="1.1" viewBox="0 0 674 165" width="200px" xmlns="http://www.w3.org/2000/svg">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <path d="M202.335971,68.5210379 C202.904274,65.2396612 203.257106,61.882602 203.257106,58.4404 C203.257106,26.1631679 177.185209,0 145.01685,0 C122.063884,0 102.27025,13.3620146 92.7841736,32.7286242 C86.6607791,29.9270205 79.8802003,28.3255248 72.7131219,28.3255248 C45.9328659,28.3255248 24.2242404,50.1126228 24.2242404,76.9866655 C24.2242404,81.6141094 24.9083584,86.0753221 26.1096049,90.3148932 C10.9458876,95.3937292 0,109.731507 0,126.662762 C0,132.305163 1.24703395,137.652942 3.43136338,142.479052 L70.4587646,75.2067754 L59.1923651,64.3139022 L101.316795,57.8254798 L94.743606,98.692675 L84.0387757,88.340391 L15.3172398,157.302009 C21.7005454,162.111902 29.6083027,165 38.2055648,165 L50.3688592,165 L154.923094,60.0716281 L143.655348,49.1760519 L185.781124,42.6903325 L179.210629,83.5588792 L168.503105,73.2038922 L77.0332999,165 L120.989226,165 L172.753255,113.046671 L161.488203,102.156501 L203.611285,95.6680782 L197.038097,136.533922 L186.333267,126.181638 L147.653667,165 L193.511119,165 C220.295415,165 242,143.212902 242,116.341562 C242,92.4948194 224.893011,72.688981 202.335971,68.5210379"
                id="Fill-4" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
          <path d="M264.577007,102.864582 L255,102.864582 L255,88.1935356 L265.012326,88.1935356 L265.012326,68 L283.006835,68 L283.006835,88.1935356 L299.837807,88.1935356 L299.837807,102.864582 L283.006835,102.864582 L283.006835,132.787705 C283.006835,144.989368 292.582498,146.731117 297.662558,146.731117 C299.694044,146.731117 301,146.441946 301,146.441946 L301,162.566916 C301,162.566916 298.678301,163 295.339516,163 C285.038321,163 264.577007,159.949584 264.577007,135.110487 C264.577007,135.110487 264.577007,159.949584 264.577007,135.110487 L264.577007,102.864582 L264.577007,102.864582 Z M264.577007,102.864582"
                id="Fill-40" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
          <path d="M317.006492,106.925519 C317.006492,104.742998 315.843193,103.723859 313.809773,103.723859 L308,103.723859 L308,88 L325.574562,88 C332.401045,88 335.305931,91.057417 335.305931,97.7519201 L335.305931,131.967221 C335.305931,140.995229 337.628495,147.110063 346.780232,147.110063 C360.144054,147.110063 367.551514,135.317168 367.551514,122.067013 L367.551514,88 L385.996197,88 L385.996197,143.47028 C385.996197,145.508558 387.156807,146.671941 389.195607,146.671941 L395,146.671941 L395,162.251556 L378.01045,162.251556 C371.61701,162.251556 368.276391,159.194139 368.276391,153.952853 L368.276391,151.914575 C368.276391,150.166132 368.42298,148.565975 368.42298,148.565975 L368.135181,148.565975 C364.646628,156.282314 355.348302,164 342.566802,164 C326.737862,164 317.006492,155.989783 317.006492,135.753942 C317.006492,135.753942 317.006492,155.989783 317.006492,135.753942 L317.006492,106.925519 L317.006492,106.925519 Z M317.006492,106.925519"
                id="Fill-43" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
          <path d="M407.578071,102.864582 L398,102.864582 L398,88.1935356 L408.013377,88.1935356 L408.013377,68 L426.004673,68 L426.004673,88.1935356 L442.835154,88.1935356 L442.835154,102.864582 L426.004673,102.864582 L426.004673,132.787705 C426.004673,144.989368 435.582744,146.731117 440.662656,146.731117 C442.694083,146.731117 444,146.441946 444,146.441946 L444,162.566916 C444,162.566916 441.675682,163 438.338338,163 C428.0361,163 407.578071,159.949584 407.578071,135.110487 C407.578071,135.110487 407.578071,159.949584 407.578071,135.110487 L407.578071,102.864582 L407.578071,102.864582 Z M407.578071,102.864582"
                id="Fill-46" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
          <path d="M461.003803,106.925519 C461.003803,104.742998 459.843193,103.723859 457.809773,103.723859 L452,103.723859 L452,88 L469.571872,88 C476.401045,88 479.300552,91.057417 479.300552,97.7519201 L479.300552,131.967221 C479.300552,140.995229 481.628495,147.110063 490.780232,147.110063 C504.138675,147.110063 511.546135,135.317168 511.546135,122.067013 L511.546135,88 L529.996197,88 L529.996197,143.47028 C529.996197,145.508558 531.156807,146.671941 533.190227,146.671941 L539,146.671941 L539,162.251556 L522.00507,162.251556 C515.61701,162.251556 512.276391,159.194139 512.276391,153.952853 L512.276391,151.914575 C512.276391,150.166132 512.417601,148.565975 512.417601,148.565975 L512.129802,148.565975 C508.641248,156.282314 499.348302,164 486.566802,164 C470.732482,164 461.003803,155.989783 461.003803,135.753942 C461.003803,135.753942 461.003803,155.989783 461.003803,135.753942 L461.003803,106.925519 L461.003803,106.925519 Z M461.003803,106.925519"
                id="Fill-49" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
          <path d="M551.061862,106.673963 C551.061862,104.491442 549.893769,103.472303 547.847236,103.472303 L542,103.472303 L542,87.7484435 L559.103165,87.7484435 C565.681306,87.7484435 568.895932,90.8058605 568.895932,96.0471469 L568.895932,98.2296681 C568.895932,99.8311723 568.752458,101.431328 568.752458,101.431328 L569.043467,101.431328 C572.549101,94.1544602 581.468843,86 593.163315,86 C604.420598,86 611.726936,91.2426344 614.941563,101.287085 L615.237985,101.287085 C619.182162,93.2795644 628.831455,86 640.674815,86 C656.16593,86 665.085672,94.7368253 665.085672,114.246058 L665.085672,143.218724 C665.085672,145.257002 666.253766,146.420384 668.300298,146.420384 L674,146.420384 L674,162 L656.462352,162 C649.441609,162 646.516637,159.088174 646.516637,152.099792 L646.516637,117.740249 C646.516637,109.295954 644.910001,102.887241 636.286681,102.887241 C627.075931,102.887241 620.499144,110.604928 618.452611,119.92277 C617.575526,122.834596 617.284517,125.892013 617.284517,129.3889 L617.284517,162 L598.715483,162 L598.715483,117.740249 C598.715483,109.73138 597.547389,102.887241 588.633061,102.887241 C579.274776,102.887241 572.987644,110.604928 570.651457,120.068361 C569.921906,122.980187 569.482009,126.038952 569.482009,129.3889 L569.482009,162 L551.061862,162 L551.061862,162 L551.061862,106.673963 L551.061862,106.673963 Z M551.061862,106.673963"
                id="Fill-52" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
        </g>
      </svg>
      <% if language_tabs %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <div id="toc">
      </div>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= yield %>
        <% current_page.data.includes && current_page.data.includes.each do |include| %>
          <%= partial "includes/#{include}" %>
        <% end %>
      </div>
      <div class="dark-box">
        <% if language_tabs %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
